<%- include('./partials/head') %>
<body>
    <div class="app">
        <%- include('./partials/sidebar') %>
        <div class="content">
            <h1><%= title %> </h1>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="name">Genre: </label>
                    <input type="text" id="name" placeholder="Fantasy, Poetry etc." name="name" value=<%= genre?.name %>>
                </div>
                <button type="submit">Submit</button>
            </form>
            <% if (errors) { %>
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %> </li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>